@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Saira', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  font-family: 'Saira', sans-serif;
}

footer {
  color: whitesmoke;
  font-weight: bold;
  font-size: 20px;
  background-color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  color: #C60021;
  background-color: white;
  font-weight: bold;
  font-family: 'Saira', sans-serif;
}

.centrar-nav-items{
  margin-left: 30px;
  margin-right: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-brand {
  max-width: 100;
  display: flex;
  align-items: center;
}

.navbar-brand img {
  max-width: 100;
  padding: 7px 14px;
}

nav a{
  color: whitesmoke;
  font-weight: bold;
}

.hero{
	position: relative;
	width: 100%;
	height: calc(100vh - 0px);
	background-color: white;
	background-size: cover;
	background-position: center center;
	transition: all .1s ease-out;
	background-image: url('./assets/images/hero-1.jpg');
	background-attachment: fixed;
  animation: hero 28s infinite linear;
}

.hero-contenido{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: white;
	background-color:  rgba(198, 0, 33, 0.7);
	display: flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hero-contenido img{
	max-width: 100%;
	max-height: 100%;
	padding: 0;
	margin: 0;
	padding-bottom: 30px;
}

.hero-contenido a{
	text-decoration: none;
	color: white;
	padding: 9px 20px;
	border: 1px solid white;
	text-transform: uppercase;
	transition: all .3s ease-in-out;
}

.hero-contenido a:hover{
	background-color: white;
	color: darkslategrey;
}

@keyframes hero{
	0%{
		background-image: url('./assets/images/hero-1.jpg');
	}
	33%{
		background-image: url('./assets/images/hero-1.jpg');
	}


	34%{
		background-image: url('./assets/images/hero-2.jpg');
	}
	66%{
		background-image: url('./assets/images/hero-2.jpg');
	}


	67%{
		background-image: url('./assets/images/hero-3.jpg');
	}
	100%{
		background-image: url('./assets/images/hero-3.jpg');
	}
}

.g-card {
  margin: 20px;
}

.g-card-image {
  border-radius: 10px;
  width: 300px;
  height: 480px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.g-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.g-card-title {
  font-size: 24px;
  margin: 0px;
}

.g-card-sub-title {
  font-size: 16px;
  margin: 0px;
}

.about-profile {
  border-radius: 10px;
  width: 280px;
  height: 460px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.about-skill {
  border-radius: 10px;
  max-width: 200px;
  max-height: 200px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.about-skill-tittle {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.success-msg {
  color: #57A773;
  padding: 10px 15px;
}

.err-msg {
  color: #EE6352;
  padding: 10px 15px;
}

.whats-api-btn {
  position: fixed;
  right: 26px;
  bottom: 26px;
  width: 60px;
  height: 60px;
  z-index: 1000;
  background: transparent;
  background-image: url('./assets/images/whatsapp.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-color: transparent;
}

.facebook-icon {
  color: blue;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}
.facebook-icon:hover {
  color: lightsteelblue;
}

.github-icon {
  color: black;
  width: 30px;
  height: 30px;
}
.github-icon:hover {
  color: lightsteelblue;
}

.linkedin-icon {
  color: lightskyblue;
  width: 30px;
  height: 30px;
}
.linkedin-icon:hover {
  color: lightsteelblue;
}